<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite"  >
    <test name="Regression">
        <classes>
            <class name="SephoraTest"/>
            <class name="AmazonTest"/>
            <class name ="DemoqaTest"/>
            <class name="w3schoolTest"/>
        </classes>
    </test>
</suite>